#projects.container
  .project-row
    .project
      %h2 Sleep No More
      %p.intro We are collaborating with the theater group Punchdrunk to create an online platform for remote theatrical immersion that connects to their hit NYC show, Sleep No More.
    .project
      %h2 Death and the Powers
      %p.intro Death and the Powers is a groundbreaking robotic opera that brings a variety of technological, conceptual, and aesthetic innovations to the theatrical world.
    .project
      %h2 City Symphonies
      %p.intro We have created a new works for symphony orchestras in collaboration with entire cities, including Toronto, Edinburgh, and Perth.
    .project
      %h2 Powers Live
      %p.intro The Dallas run of Death and the Powers featured a global interactive simulcast of the opera to nine cities worldwide, inviting remote audiences to engage with an unique second-screen experience.
  .project-row
    .project
      %h2 ...but not simpler...
      %p.intro This collection of Tod Machover&#8217;s music focuses on chamber and orchestral music composed during the last decade, both with and without electronic enhancement.
    .project
      %h2 Vocal Vibrations
      %p.intro We are creating the next generation of tools for enhancing expressive vocal and physical performance in ways that promote physical and emotional health.
    .project
      %h2 Media Scores
      %p.intro Media Scores provide a means to orchestrate multiple modalities in the creation of expressive works of art and performance.
    .project
      %h2 Disembodied Performance
      %p.intro In the opera Death and the Powers, the main character&#8217;s expressive live performance is measured and transformed into robotic, visual, and sonic elements of the theatrical design.
