@import 'bourbon'
@import 'neat'

@import 'pages'

body
  font-family: "Source Sans Pro", "Helvectica", sans-serif

.container
  @include outer-container()

  display: block
  margin: 0 auto

#nav
  text-align: right
  margin-top: 30px

  li
    display: inline
    font-size: 1.1em

    a
      text-decoration: none
      color: #000
      padding: 0.4em 0.8em

      &.active
        border-bottom: 1px solid #000

      &:hover
        background-color: #000
        color: #FFF
