#pages_homepage
  #projects
    padding: 50px 20px 30px

    .project-row
      @include fill-parent()
      @include row(table)

      .project
        @include span-columns(1 of 4, table)

        margin-top: 50px
        height: 242px
        padding: 10px 30px
        position: relative

        h2
          position: absolute
          font-weight: 300
          font-size: 1.35em
          text-align: right
          right: 0
          padding-right: 15%
          padding-left: 15%
          width: 100%

        .intro
          position: absolute
          opacity: 0
          font-weight: 300
          font-size: 1em
          width: 100%
          padding: 30px
          margin: 0
          top: 0
          left: 0

        &:hover
          .intro
            opacity: 1

          h2
            opacity: 0

    .project-row:nth-child(2n+1) .project:nth-child(2n+1),
    .project-row:nth-child(2n+0) .project:nth-child(2n+0)
      background-color: rgba(0, 0, 0, 0.5)
      color: #FFF

    .project-row:nth-child(2n+1) .project:nth-child(2n+0),
    .project-row:nth-child(2n+0) .project:nth-child(2n+1)
      background-color: rgba(255, 255, 255, 0.35)
      color: #FFF
